[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "textile.vim"]
	path = textile.vim
	url = https://github.com/timcharper/textile.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/rvm.vim"]
	path = bundle/rvm.vim
	url = https://github.com/csexton/rvm.vim.git
[submodule "cocoa.vim"]
	path = cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/akitaonrails/Command-T.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
